@import "tailwindcss";

@theme {
  --color-base: #FDF6ED; /*Fondo*/
  --color-button: #713B1C; /* Botones y texto principal */
  --color-hover: #D4743B; /* Hover general */
  --color-card: #FFFFFF; /* Fondo tarjetas de recetas */
  --color-secondary-text: #8C6D5D; /* Texto secundario */
  --color-chip: #FFF2E4; /* color chip en categorias */

  /* Fonts */
  --font-lora: lora, serif;
  --font-inter: Inter, serif;

  /* Grids */
  --grid-cols-boxes: repeat(auto-fit, minmax(500px, 1fr));

  /* animations */
  --animate-fade-out: fade-out 1.5s ease-out forwards;
  --animate-slide-down: slide-down 0.3s ease-in-out forwards;
  --animate-slide-up: slide-up 0.3s ease-in-out forwards;
}

html {
    font-family: 'Lato', system-ui, sans-serif;
    background-color: #FDF6ED;
}

.slick-list {
  background-color: #fff;
  border-radius: 16px;
  padding: 5px 0;
  top: 35%
}

.slick-prev, .slick-next {
  top: 35%
}

.slick-prev:before, .slick-next:before {
    content: '→';
    background: transparent;
    color: #713B1C;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora/Lora-Variable.ttf') format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Variable.ttf') format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url("/fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url("/fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url("/fonts/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url("/fonts/Lato-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url("/fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url("/fonts/Lato-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
  }

  .formSizingContent {
    form-sizing: content;
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
      transform: translateY(-2rem);
    }
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slide-down {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }
  
  @keyframes slide-up {
    0% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0);
    }
  }

  .slick-slide {
    padding: 0 5px;
  }

  .slick-dots {
    position: relative;
    bottom: 0;
  }